<% set_meta_tags description: t('meta.description'),
                 keywords: "#{t('full_name')}, #{t('index.professional')}, #{t('index.developer')}" %>

<!-- HERO -->
<section id="hero"
         class="module-hero module-parallax module-full-height bg-light-30"
         data-background="<%= image_path 'bg/surfwave_1920.jpg' %>">

  <!-- HERO TEXT -->
  <div class="hero-caption">
    <div class="hero-text">

      <h1 class="mh-line-size-1 font-alt m-b-50">
        <span class="fa mh-line-size-1 font-alt bounceInLeft animated a-d-03"><%= t 'first_name' %></span> <span class="fa mh-line-size-1 font-alt bounceInRight animated a-d-06"><%= t 'last_name' %></span></h1>
      <h5 class="mh-line-size-4 font-alt m-b-50 fa fadeIn animated a-d-09"><%= t 'index.professional' %> <%= t 'index.developer' %></h5>
      <h5 class="mh-line-size-1 font-alt">
        <%= link_to 'mailto:me@golovkin.cc' do %>
            <i class="fa fa-envelope bounceIn animated a-d-12 l-s-n"></i>
        <%end%>
        <%= link_to 'skype:kefiriaus?chat' do %>
            <i class="fa fa-skype bounceIn animated a-d-15 l-s-n"></i>
        <%end%>
        <%= link_to 'https://facebook.com/kefiriaus', target: '_blank' do %>
            <i class="fa fa-facebook-official bounceIn animated a-d-18 l-s-n"></i>
        <%end%></h5>

    </div>
  </div>
  <!-- /HERO TEXT -->

</section>
<!-- /HERO -->