<!-- HERO -->
<section id="hero"
         class="module-hero module-parallax module-full-height bg-light-30"
         data-background="<%= image_path 'bg/surfgirl_1920.jpg' %>">

  <!-- HERO TEXT -->
  <div class="hero-caption">
    <div class="hero-text">

      <h1 class="mh-line-size-1 font-alt m-b-50"><span class="mh-line-size-1 font-alt fa fadeInDown animated a-d-05">Напишите</span></h1>
      <h5 class="mh-line-size-4 font-alt m-b-50">
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-08">Я</span>
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-10">отвечу</span>
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-12">вам</span>
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-14">в</span>
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-16">ближайшее</span>
        <span class="mh-line-size-4 font-alt fa bounceInUp animated a-d-18">время</span></h5>

      <h6 class="mh-line-size-1 font-alt m-t-100">
        <%= link_to '#contacts', class: 'section-scroll' do %>
          <i class="fa fa-angle-double-down bounceInUp animated a-d-20 l-s-n"></i>
        <% end %>
      </h6>

    </div>
  </div>
  <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- CONTACT -->
<section class="module" id="contacts">

  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Оставайтесь на связи</h2>
        <div class="module-subtitle font-serif">Свяжитесь со мной любым удобным способом, и вместе мы сделаем Ваш проект лучше.</div>
      </div>
    </div>

    <div class="row multi-columns-row">

      <div class="col-sm-6 col-sm-offset-1">

        <%= form_for @contact, id: 'contact-form', role: 'form', novalidate: '', remote: true do |f|%>

          <div class="form-group">
            <%= f.label :name, 'Имя', class: 'sr-only' %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Имя*', data: {'validation-required-message': 'Введите Имя.'} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Email', class: 'sr-only' %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email*', data: {'validation-required-message': 'Введите Email.'} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <%= f.text_area :message, class: 'form-control', rows: 7, placeholder: 'Сообщение*', data: {'validation-required-message': 'Введите сообщение.'} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="text-center">
            <%= f.button type: 'submit', class: 'btn btn-block btn-round btn-d' do %>
                Отправить
            <% end %>
          </div>

        <% end %>

        <!-- Ajax response -->
        <div id="contact-response" class="ajax-response font-alt" role="alert"></div>

      </div>

      <div class="col-sm-4">

        <!-- ALT CONTENT BOX -->
        <div class="alt-content-box m-t-0 m-t-sm-30">
          <div class="alt-content-box-icon">
            <i class="ion-paper-airplane"></i>
          </div>
          <h5 class="alt-content-box-title font-alt">
            Скажите Привет
          </h5>
          Email: <%= link_to 'me@golovkin.cc', 'mailto:me@golovkin.cc' %><br>
          Skype: <%= link_to 'kefiriaus', 'skype:kefiriaus?chat'%><br>
          <% if @imessage.present? %><%= link_to 'iMessage', "#{@imessage}://kefiriaus@gmail.com" %> | <% end %><%= link_to 'WhatsApp', 'whatsapp://send?abid=79261613988&text=Привет!' %> | <%= link_to 'Viber', 'viber://add?number=79261613988' %><br />+7 926 161 39 88

        </div>
        <!-- /ALT CONTENT BOX -->

        <% '''
        <!-- ALT CONTENT BOX -->
        <div class="alt-content-box">
          <div class="alt-content-box-icon">
            <i class="ion-map"></i>
          </div>
          <h5 class="alt-content-box-title font-alt">
            Where to meet
          </h5>
          Vortex Company,<br>
          23 Greate Street, Los Angeles, 12345 LS<br><br>
          <a href="#module-maps" class="section-scroll">Find us on map →</a>
        </div>
        <!-- /ALT CONTENT BOX -->
        ''' %>

      </div>

    </div>

  </div>
</section>

<!-- /CONTACT -->

<% '''
<!-- GOOGLE MAP -->
<section id="module-maps">

  <div id="map"></div>

</section>
<!-- /GOOGLE MAP -->
''' %>
